h1 {
    text-align: center;
}

.title {
   font-weight:bold; 
}

.bio dt{
    font-weight: bold;
}

.bio {
    background-color:blanchedalmond;
    border: dashed 1px; 
    width:fit-content;
    padding: 20px;
    border-radius: 25px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}